<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="Scanner.Scanner" android:versionCode="1" android:versionName="1.0">
	<uses-sdk android:targetSdkVersion="19" android:minSdkVersion="8" />
	<application android:icon="@drawable/icon" android:label="Scanner">
		<activity android:name=".MainActivity" android:label="Scanner" android:launchMode="singleTop">
			<intent-filter>
				<action android:name="Scanner.Scanner.RECVR" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="scan" />
			</intent-filter>
		</activity>
	</application>
</manifest>